$main-color: white;
$body-bg: rgb(26, 28, 39);

$heading-color: white;
$heading-bg: rgba(11, 16, 255, 0);
$body-color: rgb(206, 206, 206);

$main-blue: #001ae6;
$main-gold: #f5c217;

$odd-img: rgb(59, 59, 59);

$temp-img: pink;
$temp-stuff: pink;

$footer-text-color: orange;