@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

@import 'modules/errors'; // error page

// Basic Styling
.hidden {
    display: none;
}

main {
    margin: 0 auto;
    //width: 320px;
    color: $main-color;
    background-color: $body-bg;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    color: $main-color;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.blueDivider
{
	display: block;
	margin-top: 35px;
	margin-bottom: 35px;
	height: 3px;
	width: 248px;
	background-color: $main-blue;
}

.goldDivider
{
	display: block;
	margin-top: 35px;
	margin-bottom: 35px;
	height: 3px;
	width: 150px;
	background-color: $main-gold;
}

// header styling
.header-logo {
    display: block;
    width: 125px;
    margin-left: 80px;
    position: relative;
}

.header-logo:hover {
    cursor: pointer;
}

// section styling

// .panel { min-height: 80vh; }

.panel:nth-child(odd) {
    background-color: $temp-img;
    color: white;
}

.panel {
    background: url("../public/images/cap_temp.jpg") fixed no-repeat;
    background-position: center;
}

.angled-divide {
    //width: 100vw;
    position: relative;
    padding-top: 35px;
}

// section title styling
.section-title {
    //margin-top: 35px;
    color: white;
}

.section-title h1 {
    font-size: 48px;
    margin-top: -5px;
    margin-bottom: 25px;
}

.section-title h4 {
    font-size: 30px;
    font-style: italic;
    margin: 0;
}

// section 1 (hero)
.hero {
    height: 100vh;
    // width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sub {
    margin: 0;
    font-size: 30px;
}

.hero-title {
    margin-top: 5px;
    margin: 0;
    font-size: 135px;
    color: $main-gold;
}

// section 2 (about)
#column-p {
    display: flex;
    justify-content: center;
}

p {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 15px;
    color: $body-color;
    margin-left: 80px;
}

.left p {
    margin-right: 0;
}

// section 3 (skillset)
.skillset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.counter-circle {
    font-style: italic;
    min-width: 400px;
}

// section 4 (portfolio)
#section4 {
    text-align: center;
}

p { 
    color: $body-color;
    margin-left: 80px;
    margin-right: 80px;
}

// section 5 (contact)
.contact-column {
    display: flex;
    justify-content: center;
}

.contact-column h3 {
    font-size: 40px;
    margin: 10px;
}

.contact-column div {
    padding-left: 100px;
    padding-right: 100px;
}

p { 
    color: $body-color;
    margin-left: 80px;
    margin-right: 80px;
}

// section 6 (contact form)
#section6 {
    display: flex;
}

#section6 h1 {
    font-size: 70px;
    text-align: left;
    margin-left: 80px;
}

p { 
    color: $body-color;
    margin-left: 80px;
    margin-right: 80px;
}

#to-top { 
    //display: none;
    position: fixed; 
    height: 50px;
    width: 50px;
    bottom: 40px;
    margin-left: 610px;
    background-color: $main-blue;
    color: white;
    text-decoration: none;
    font-size: 50px;
    border-radius: 50px;
}

// large mobile breakpoint
@media screen and (min-width: 420px) {
    
}

// tablet breakpoint
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 900px) {
    
}

// desktop breakpoint
@media screen and (min-width: 1024px) {

}

@import 'modules/_footer'
