{{!-- Hero Section --}}
<section id="section1" class="panel hero">
    <div class="bio-info">
        <h3 class="hero-sub">Web Designer</h3>
        <h1 class="hero-title">ALEC RIDDICK</h1>
        <a href="#section6" class="hero-button">Let's Get Started</a>
    </div>
</section>

{{!-- About Me Section --}}
<section id="section2" class="panel">
    <img src="images/angled_svg_blue_right.svg" alt="decorative angled svg" id="top-img">
    <div class="section-title">
        <h1 class="user-panel-heading">About Me</h1>
        <h4>The Chronicles of Riddick</h4>
        <hr class="goldDivider">
    </div>

    <section id="column-p">
        <div class="left">
            <p>
                I grew up in a small town on Highway 10 called Markdale. When I was younger, I always had a passion for drawing and colouring and was known for my active imagination. I went to high school down the road in Flesherton, Ontario at Grey Highlands Secondary School.
            </p>
            <p>
                Within the Yearbook class, I was introduced to programs like Adobe InDesign and Photoshop. I went on to lead the Yearbook team in grade eleven with another grade twelve student and assisted the senior editors in my grade twelve year.
            </p>
            <p>
                I completed the Advertising and Graphic Design program at Humber College in the spring of 2018. Here, I learned more about the design industry, including many new programs in the Adobe suite such as Illustrator and Dreamweaver. 
            </p>
        </div>

        <div>
            <p>
                After completing the program, I finished a 16 week internship at tbk Creative and enrolled in the Interactive Media Design program at Fanshawe College in London where I am currently. In this program, I have learned a lot about web design and video editing while extending my knowledge with programs like After Effects, Cinema 4D, and Visual Stuido Code.
            </p>
            <p>
                Throughout these last three years, I have developed and honed my skills, not only in using the programs, but also in idea generation, campaign development, and explaining my ideas to others.
            </p>
            <p>
                When not enrolled in school, I am a competitive powerlifter so you can often find me working out at the local gym. In the summer, I help out the coaches of Sail Georgian Bay, which is a sailing school in Meaford as I am a former coach myself.
            </p>
        </div>
    </section>
    <img class="angled-divide" src="images/angled_svg_grey_left.svg" alt="decorative angled svg">
</section>

{{!-- Skillset Section --}}
<section id="section3" class="panel">
    <div class="section-title">
        <h1 class="user-panel-heading">Skillset</h1>
        <h4>Friendly, Passionate, Somewhat Funny</h4>
        <hr class="goldDivider">
    </div>

    <section class="skillset">
        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/art_direction.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="red"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Art Direction</h3>
        </div>
        
        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/front_end.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="cyan"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Front-End Web Design</h3>
        </div>
        
        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/back_end.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="green"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Back-End Web Design</h3>
        </div>

        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/branding.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="yellow"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Branding</h3>
        </div>

        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/idea_generation.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="magenta"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Idea Generation</h3>
        </div>

        <div class="counter-circle">
            <h2 class="hidden">Title</h2>
            {{!-- counter cirle stuff --}}
            <img src="images/pokedex.svg" alt="Counter Circle Icon">

            <input class="percentage"
                value="80"
                type="number"
                step="5"
                min="0"
                max="100"
                placeholder="progress"
            >
            <svg class="progress-ring">
                <circle
                    class="progress-ring__circle"
                    stroke="#001ae6"
                    stroke-width="10"
                    fill="transparent"
                    r="85"
                    cx="90"
                    cy="90"/>
            </svg>
            <h3>Pokedex Completion</h3>
        </div>
    </section>
    <img class="angled-divide" src="images/angled_svg_blue_right.svg" alt="decorative angled svg">
</section>

{{!-- Portfolio Section --}}
<section id="section4" class="panel">
    <div class="section-title">
        <h1 class="user-panel-heading">Portfolio</h1>
        <h4>A small selection of my latest work</h4>
        <hr class="goldDivider">
    </div>

    <div class="team flip-container">
        {{#each project}}
        <div class="user-panel"> 
            <div class="flipper">
                <img src="images/{{Logo}}" alt="Project Logo" class="u-logo front">

                <div class="back">
                    <h1>{{Name}}</h1>
                    <h3>{{Category}}</h3>
                </div>
            </div>

            <a href="{{ID}}" class="u-link">
                Read More
            </a>

        </div>

        {{/each}}
        
    </div>

    </div>

    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="Project Icon">
        </div>

        <div class="lb-content">
            <!-- render the database content here -->
        </div>

    </section>

    <img class="angled-divide" src="images/angled_svg_grey_left.svg" alt="decorative angled svg">
</section>

{{!-- Contact Information Section --}}
<section id="section5" class="panel">
    <div class="section-title">
        <h1 class="user-panel-heading">Contact Me</h1>
        <h4>Just drop me a line</h4>
        <hr class="goldDivider">
    </div>
    <section class="contact-column">
        <div>
            <h2 class="hidden">Talk</h2>
            <h3>TALK</h3>
            <hr class="goldDivider">
            <p>
                Phone: <span id="contact-span">519.477.4885</span>
                <br>
                Email: <span id="contact-span">alec.riddick@gmail.com</span>
            </p>
        </div>

        <div>
            <h2 class="hidden">Connect</h2>
            <h3>CONNECT</h3>
            <hr class="goldDivider">

            <a href="https://www.facebook.com/alec.riddick" target="_blank"><img class="social-connect" src="images/facebook.svg" alt="Facebook Icon"></a>
            <a href="https://www.instagram.com/chronicles.of.riddick.design/" target="_blank"><img class="social-connect" src="images/instagram.svg" alt="Instagram Icon"></a>
            <a href="https://www.linkedin.com/in/alec-riddick-6a801314a/" target="_blank"><img class="social-connect" src="images/linkedin.svg" alt="LinkedIn Icon"></a>
            <br>
            <a href="https://twitter.com/alec_riddick" target="_blank"><img class="social-connect" src="images/twitter.svg" alt="Twitter Icon"></a>
            <a href="https://www.youtube.com/channel/UC4LuZKCKNPovBAIfkPDXTGg?view_as=subscriber" target="_blank"><img class="social-connect" src="images/youtube.svg" alt="YouTube Icon"></a>
        </div>

        <div>
            <h2 class="hidden">Review</h2>
            <h3>REVIEW</h3>
            <hr class="goldDivider">

            <section class="reel">
                <a href="video/highlight_reel.mp4" target="_blank"><img class="highlight" src="images/highlight_reel_cover.svg" alt="Highlight Reel Link"></a>
            </section>
        </div>
    </section>
    <img class="angled-divide" src="images/angled_svg_blue_right.svg" alt="decorative angled svg">
</section>

{{!-- Contact Form Section --}}
<section id="section6" class="panel">
    <div class="else">
        <h2 class="hidden">Quote</h2>
        <h1>Expand Your Horizons With a New Outlook</h1>
    </div>

    <div class="desktop">
        <h2 class="hidden">Quote</h2>
        <h1>Expand Your<br>Horizons With<br>a New Outlook</h1>
    </div>
        
    <div class="contact-form">
        <h2 class="hidden">Contact Form</h2>
        <form action="mailto:alec.riddick@gmail.com" method="post" enctype="text/plain">
			<label for="fname" class="hidden">First Name</label>
				<input type="text" id="fname" name="firstname" placeholder="First name">
			<label for="lname" class="hidden">Last Name</label>
				<input type="text" id="lname" name="lastname" placeholder="Last name">
			<label for="subject" class="hidden">Subject Line</label>
				<input type="text" id="lname" name="lastname" placeholder="Describe your message">
			<label for="message" class="hidden">Message</label>
				<textarea id="message" name="message" placeholder="How can I help?" style="height:200px"></textarea>
                <br>
				<input type="submit" value="Submit">
		</form>
    </div>
</section>