<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    {{!-- <link rel="stylesheet" href="css/reset.css"> --}}
    <link rel="stylesheet" href="css/main.css">

    <title>Alec Riddick</title>
</head>

<body>
    <section class="header-nav">
        <a href="index.html"></a><img class="header-logo" src="images/logo_type_right-colour.svg" alt="Alec Riddick's Logo"></a>
        <nav data-module="nav">
            <!-- nav elements must have nav-item -->
            <ul>
                <li><a href="#section2" class="nav-item">About</a></li>
                <li><a href="#section4" class="nav-item">Portfolio</a></li>
                <li><a href="#section5" class="nav-item">Contact</a></li>
            </ul>
        </nav>
    </section>

    <a id="to-top" href="#" class="nav-item">^</a>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <h3 class="copyright">©Alec Riddick | All Rights Reserved | Powered by Fanshawe College</h3>
        
        <ul>
            <li><a href="https://www.facebook.com/alec.riddick" target="_blank" class="social-footer"><img class="social-connect" src="images/facebook.svg" alt="Facebook Icon"></a></li>
            <li><a href="https://www.instagram.com/chronicles.of.riddick.design/" target="_blank" class="social-footer"><img class="social-connect" src="images/instagram.svg" alt="Instagram Icon"></a></li>
            <li><a href="https://www.linkedin.com/in/alec-riddick-6a801314a/" target="_blank" class="social-footer"><img class="social-connect" src="images/linkedin.svg" alt="LinkedIn Icon"></a></li>            
        </ul>
    </footer>


    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Justin";

        console.log('name in main file: ' + name);
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
</body>

</html>