.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.85);
    

    .sidebar {
        flex: 1;
    }
    
    .lb-content {
        flex: 3;
        text-align: left;
        margin-left: 25px;
    }

    img { max-width: 350px; }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid white;
        padding: 2px 14px 5px;
        border-radius: 50%;
        background-color: $main-gold;
    }
}

.show-lb { display: flex !important; }

.u-social {
    li { 
        display: inline-block;
        padding: 10px;
    }
}