.team { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-panel {
        flex: 0 1 300px;
        flex-wrap: wrap;
        text-align: center;
        padding: 8px 8px 8px 8px; // top left bottom right

        .u-logo { max-width: 200px; }

        .u-link { 
            display: block; 
            width: 100px;
            text-decoration: none;
            font-weight: bold;
            margin: 0 auto;
            border-radius: 3px;
            background-color: $main-gold;
            color: black;
            margin-top: 5px;
            padding: 5px;
        }

        h1, h3 { margin: 5px 0; }
    }
}



// large mobile breakpoint
@media screen and (min-width: 420px) {
    
}

// tablet breakpoint
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 900px) {
    .team {
        .user-panel { 
            flex: 1 1;

            .u-logo { max-width: 300px; }
        }
    }
}

// desktop breakpoint
@media screen and (min-width: 1024px) {
    .team {
        .user-panel { 
            flex: 1 1;
            min-width: 400px;
            justify-content: center;

            .u-logo { max-width: 500px; }
        }
    }

    // FLIP CARD ANIMATION
    /* flip the pane when hovered */
	.flip-container {
        perspective: 1000px;
    }
    
    .flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

    .flip-container, .front, .back {
	    width: 320px;
	    height: 480px;
    }

    /* flip speed goes here */
    .flipper {
	    transition: 0.6s;
	    transform-style: preserve-3d;

	    position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
	    backface-visibility: hidden;

	    position: absolute;
	    top: 0;
	    left: 0;
    }

    /* front pane, placed above back */
    .front {
	    z-index: 2;
	    /* for firefox 31 */
	    transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
	    transform: rotateY(180deg);
    }
}

